# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ANC_programm\mail_monitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
